PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T214316 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T215323 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T220031 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T220430 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/unit/UnitTest1.cs filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/bin/Debug filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/obj/Debug filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T212718 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T213256 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T215730 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/obj/PlaywrightTests.csproj.nuget.dgspec.json filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T212953 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T213534 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/TestResults/Deploy_pablovergara[[:space:]]20260617T213930 filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/unit/LoginUnitTest.cs filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/obj/PlaywrightTests.csproj.nuget.g.props filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/obj/PlaywrightTests.csproj.nuget.g.targets filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/obj/project.assets.json filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/obj/project.nuget.cache filter=lfs diff=lfs merge=lfs -text
PlaywrightTests/bin/Debug/net8.0/* filter=lfs diff=lfs merge=lfs -text
